request URIs not properly recognized for nice rendering on GitHub

_Initially asked in https://github.com/github/linguist/discussions/5942 and was [referred](https://github.com/github/linguist/discussions/5942#discussioncomment-2974256) to this repository._

---

On GitHub (which uses [github/linguist](https://github.com/github/linguist)), URIs in HTTP code blocks are rendered with a burgundy color (`#82071e`)

<table>
<tr>
<th>
source
</th>
<th>
rich
</th>
</tr>
<tr>
<td>

````markdown
```http
GET https://www.example.com/
```
````

</td>
<td>
<img src="https://user-images.githubusercontent.com/5588957/174350364-1853caf5-9228-41a8-b15f-c33fd6eab057.png" width="232">
</td>
</tr>
</table>

I could be mistaken but this leads me to believe that the URI isn't properly being matched or something as this same burgundy color (`#82071e`) is used elsewhere for "invalid" syntax

<table>
<caption>Example: JSON does not support comments but JSON5 does</caption>
<tr>
<th>
source
</th>
<th>
rich
</th>
</tr>
<tr>
<td>

````markdown
```json
// this is a comment
{ "answer": 42 }
```
````

</td>
<td>
<img src="https://user-images.githubusercontent.com/5588957/174350106-505b04b3-37be-48f0-9bba-6cd7c5082d58.png" width="175">
</td>
</tr>
<tr>
<td>

````markdown
```json5
// this is a comment
{ "answer": 42 }
```
````

</td>
<td>
<img src="https://user-images.githubusercontent.com/5588957/174348665-f280fd06-32ca-4b6e-a8da-fb6b198f73b8.png" width="175">
</td>
</tr>
</table>

I think it would be ideal for the URI to get rendered as either plain text, colored text (a hyperlink color?), or perhaps even rendered as a link (e.g. [`https://www.example.com/`](https://www.example.com/)).

Is this a correct understanding or are HTTP URIs supposed to be rendered burgundy for some reason? Please advise. Thank you.

The example you have shown there is not valid HTTP. In a validly formatted HTTP request, only the path is included in the request line; The host information is provided in a header.

See: https://developer.mozilla.org/en-US/docs/Web/HTTP/Messages

```http
GET /some_path HTTP/1.1
Host: www.example.com
```

The origin form you mention is, I think, the most common form but it is not the only request target form supported by HTTP/1.1.

From the page you reference, [HTTP Messages - HTTP | MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Messages):

> - A complete URL, known as the absolute form, is mostly used with GET when connected to a proxy. `GET https://developer.mozilla.org/en-US/docs/Web/HTTP/Messages HTTP/1.1`

More details are available in [section 5.3.2 of RFC 7230: Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing](https://www.rfc-editor.org/rfc/rfc7230#section-5.3.2).

i.e. From what I can tell, this absolute URI form is indeed valid HTTP.

Huh, never seen that before.
Well, spec seems pretty clear to me, there's a PR (#14) in to add support for absolute URLs

Sweet. Thank you.